.App {
  text-align: center;
  background-color: rgb(245, 245, 245);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  color: white;
  box-shadow: 5px 5px 4px #888888;
}

.App-body {
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

.create-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(120, 120, 120, 0.85);
}

.create-note-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 320px;
  min-height: 350px;
  width: 15vw;
  height: 10vh;
  margin: 50px auto;
  background-color: rgb(82, 80, 80);
  border-radius: 15px;

}

.modal-dialog p {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: bold;
  padding-top: 10px;
}
.modal-dialog textarea{
  resize: none;
  background-color: #FFFF88;
  width: 300px;
  height: 220px;
}

.modal-icons {
  font-size: 30px;
}

.modal-icons #model-cancel {
  color: rgb(245, 64, 64);
  padding: 15px;
  float: left;
}

.modal-icons #model-cancel:hover {
  color: white;
}

.modal-icons #model-submit {
  color: rgb(70, 106, 216);
  padding: 15px;
  float: right;
}

.modal-icons #model-submit:hover {
  color: white;
}

.stickynote {
  display: inline-block;
  width: 15vw;
  height: 25vh;
  flex-direction: row;
  border: .2px solid black;
  box-shadow: 1px 1px 3px #888888;
  margin: 20px;
  background-color: #FFFF88;
  min-height: 200px;
  min-width: 200px;
}

.stickynote p {
  margin: 10px;
  display: inline-block;
  word-break: break-all;
  white-space: normal;
  font-size: 15px;
}




.circle-plus {
  color: rgb(70, 106, 216);
  transition: all .2s ease;
  font-size: 3em;
}

.circle-plus:hover{
  color: rgb(245, 64, 64);
  font-size: 4em;
  transition: all .2s ease;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
